html,body{
    height: 100%;  /*Helps in centering on page*/
    background: url('./img/beach-cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    /*When using navbar-fixed-top it causes issues: https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site */
    padding-top: 110px;
}

nav{
    opacity: 0.45;
}

#mainNav > div > a{
    color: white;
}

h1{
    color: white;
    font-size: 45px;
    font-family: Garamond ,Georgia, 'Times New Roman', Times, serif;
}